[submodule "nextjs-starter"]
	path = nextjs-starter
	url = git@github.com:hd719/nexjs-starter.git
[submodule "code-snippets"]
	path = code-snippets
	url = git@github.com:hd719/code-snippets.git
[submodule "discuss"]
	path = discuss
	url = git@github.com:hd719/discuss.git
[submodule "nextjs-auth"]
	path = nextjs-auth
	url = https://github.com/hd719/nextjs-auth
[submodule "nextjs-chatgpt-app"]
	path = nextjs-chatgpt-app
	url = https://github.com/hd719/nextjs-chatgpt-app
