[submodule "sg-discuss"]
	path = sg-discuss
	url = git@github.com:hd719/sg-discuss.git
[submodule "sg-code-snippets"]
	path = sg-code-snippets
	url = git@github.com:hd719/sg-code-snippets.git
[submodule "sg-nexjs-starter"]
	path = sg-nexjs-starter
	url = git@github.com:hd719/sg-nexjs-starter.git
[submodule "jh-nextjs-css-modules"]
	path = jh-nextjs-css-modules
	url = git@github.com:hd719/jh-nextjs-css-modules.git
[submodule "jh-nextjs-chatgpt-app"]
	path = jh-nextjs-chatgpt-app
	url = git@github.com:hd719/jh-nextjs-chatgpt-app.git
[submodule "jh-nextjs-project-infrastructure"]
	path = jh-nextjs-project-infrastructure
	url = https://github.com/hd719/jh-nextjs-project-infrastructure
